body{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    width: 100vw;
    background-color: #1F0252;
    position: relative;
}

form{
    height: 90vh;
    width: 30vw;
    background-color: black;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 32px 18px #8414C9;
    position: absolute;
    top: 0;
    z-index: 2;
}
img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}